@-webkit-keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes radius {
  0% {
    transform: translate(30px, 0px);
  }
  1% {
    transform: translate(29.94080185px, 1.88371559px);
  }
  2% {
    transform: translate(29.76344104px, 3.75999701px);
  }
  3% {
    transform: translate(29.46861752px, 5.62143944px);
  }
  4% {
    transform: translate(29.05749483px, 7.46069661px);
  }
  5% {
    transform: translate(28.53169549px, 9.27050983px);
  }
  6% {
    transform: translate(27.89329458px, 11.04373658px);
  }
  7% {
    transform: translate(27.14481157px, 12.77337875px);
  }
  8% {
    transform: translate(26.2892004px, 14.45261022px);
  }
  9% {
    transform: translate(25.32983777px, 16.07480385px);
  }
  10% {
    transform: translate(24.27050983px, 17.63355757px);
  }
  11% {
    transform: translate(23.11539728px, 19.12271969px);
  }
  12% {
    transform: translate(21.86905882px, 20.53641318px);
  }
  13% {
    transform: translate(20.53641318px, 21.86905882px);
  }
  14% {
    transform: translate(19.12271969px, 23.11539728px);
  }
  15% {
    transform: translate(17.63355757px, 24.27050983px);
  }
  16% {
    transform: translate(16.07480385px, 25.32983777px);
  }
  17% {
    transform: translate(14.45261022px, 26.2892004px);
  }
  18% {
    transform: translate(12.77337875px, 27.14481157px);
  }
  19% {
    transform: translate(11.04373658px, 27.89329458px);
  }
  20% {
    transform: translate(9.27050983px, 28.53169549px);
  }
  21% {
    transform: translate(7.46069661px, 29.05749483px);
  }
  22% {
    transform: translate(5.62143944px, 29.46861752px);
  }
  23% {
    transform: translate(3.75999701px, 29.76344104px);
  }
  24% {
    transform: translate(1.88371559px, 29.94080185px);
  }
  25% {
    transform: translate(0px, 30px);
  }
  26% {
    transform: translate(-1.88371559px, 29.94080185px);
  }
  27% {
    transform: translate(-3.75999701px, 29.76344104px);
  }
  28% {
    transform: translate(-5.62143944px, 29.46861752px);
  }
  29% {
    transform: translate(-7.46069661px, 29.05749483px);
  }
  30% {
    transform: translate(-9.27050983px, 28.53169549px);
  }
  31% {
    transform: translate(-11.04373658px, 27.89329458px);
  }
  32% {
    transform: translate(-12.77337875px, 27.14481157px);
  }
  33% {
    transform: translate(-14.45261022px, 26.2892004px);
  }
  34% {
    transform: translate(-16.07480385px, 25.32983777px);
  }
  35% {
    transform: translate(-17.63355757px, 24.27050983px);
  }
  36% {
    transform: translate(-19.12271969px, 23.11539728px);
  }
  37% {
    transform: translate(-20.53641318px, 21.86905882px);
  }
  38% {
    transform: translate(-21.86905882px, 20.53641318px);
  }
  39% {
    transform: translate(-23.11539728px, 19.12271969px);
  }
  40% {
    transform: translate(-24.27050983px, 17.63355757px);
  }
  41% {
    transform: translate(-25.32983777px, 16.07480385px);
  }
  42% {
    transform: translate(-26.2892004px, 14.45261022px);
  }
  43% {
    transform: translate(-27.14481157px, 12.77337875px);
  }
  44% {
    transform: translate(-27.89329458px, 11.04373658px);
  }
  45% {
    transform: translate(-28.53169549px, 9.27050983px);
  }
  46% {
    transform: translate(-29.05749483px, 7.46069661px);
  }
  47% {
    transform: translate(-29.46861752px, 5.62143944px);
  }
  48% {
    transform: translate(-29.76344104px, 3.75999701px);
  }
  49% {
    transform: translate(-29.94080185px, 1.88371559px);
  }
  50% {
    transform: translate(-30px, 0px);
  }
  51% {
    transform: translate(-29.94080185px, -1.88371559px);
  }
  52% {
    transform: translate(-29.76344104px, -3.75999701px);
  }
  53% {
    transform: translate(-29.46861752px, -5.62143944px);
  }
  54% {
    transform: translate(-29.05749483px, -7.46069661px);
  }
  55% {
    transform: translate(-28.53169549px, -9.27050983px);
  }
  56% {
    transform: translate(-27.89329458px, -11.04373658px);
  }
  57% {
    transform: translate(-27.14481157px, -12.77337875px);
  }
  58% {
    transform: translate(-26.2892004px, -14.45261022px);
  }
  59% {
    transform: translate(-25.32983777px, -16.07480385px);
  }
  60% {
    transform: translate(-24.27050983px, -17.63355757px);
  }
  61% {
    transform: translate(-23.11539728px, -19.12271969px);
  }
  62% {
    transform: translate(-21.86905882px, -20.53641318px);
  }
  63% {
    transform: translate(-20.53641318px, -21.86905882px);
  }
  64% {
    transform: translate(-19.12271969px, -23.11539728px);
  }
  65% {
    transform: translate(-17.63355757px, -24.27050983px);
  }
  66% {
    transform: translate(-16.07480385px, -25.32983777px);
  }
  67% {
    transform: translate(-14.45261022px, -26.2892004px);
  }
  68% {
    transform: translate(-12.77337875px, -27.14481157px);
  }
  69% {
    transform: translate(-11.04373658px, -27.89329458px);
  }
  70% {
    transform: translate(-9.27050983px, -28.53169549px);
  }
  71% {
    transform: translate(-7.46069661px, -29.05749483px);
  }
  72% {
    transform: translate(-5.62143944px, -29.46861752px);
  }
  73% {
    transform: translate(-3.75999701px, -29.76344104px);
  }
  74% {
    transform: translate(-1.88371559px, -29.94080185px);
  }
  75% {
    transform: translate(0px, -30px);
  }
  76% {
    transform: translate(1.88371559px, -29.94080185px);
  }
  77% {
    transform: translate(3.75999701px, -29.76344104px);
  }
  78% {
    transform: translate(5.62143944px, -29.46861752px);
  }
  79% {
    transform: translate(7.46069661px, -29.05749483px);
  }
  80% {
    transform: translate(9.27050983px, -28.53169549px);
  }
  81% {
    transform: translate(11.04373658px, -27.89329458px);
  }
  82% {
    transform: translate(12.77337875px, -27.14481157px);
  }
  83% {
    transform: translate(14.45261022px, -26.2892004px);
  }
  84% {
    transform: translate(16.07480385px, -25.32983777px);
  }
  85% {
    transform: translate(17.63355757px, -24.27050983px);
  }
  86% {
    transform: translate(19.12271969px, -23.11539728px);
  }
  87% {
    transform: translate(20.53641318px, -21.86905882px);
  }
  88% {
    transform: translate(21.86905882px, -20.53641318px);
  }
  89% {
    transform: translate(23.11539728px, -19.12271969px);
  }
  90% {
    transform: translate(24.27050983px, -17.63355757px);
  }
  91% {
    transform: translate(25.32983777px, -16.07480385px);
  }
  92% {
    transform: translate(26.2892004px, -14.45261022px);
  }
  93% {
    transform: translate(27.14481157px, -12.77337875px);
  }
  94% {
    transform: translate(27.89329458px, -11.04373658px);
  }
  95% {
    transform: translate(28.53169549px, -9.27050983px);
  }
  96% {
    transform: translate(29.05749483px, -7.46069661px);
  }
  97% {
    transform: translate(29.46861752px, -5.62143944px);
  }
  98% {
    transform: translate(29.76344104px, -3.75999701px);
  }
  99% {
    transform: translate(29.94080185px, -1.88371559px);
  }
  100% {
    transform: translate(30px, 0px);
  }
}
@-webkit-keyframes zhexian {
  0% {
    transform: translate(-35px, 0px);
  }
  1% {
    transform: translate(-34.95735789px, 1.03955845px);
  }
  2% {
    transform: translate(-34.82948352px, 2.03368322px);
  }
  3% {
    transform: translate(-34.61653268px, 2.93892626px);
  }
  4% {
    transform: translate(-34.31876481px, 3.71572413px);
  }
  5% {
    transform: translate(-33.93654271px, 4.33012702px);
  }
  6% {
    transform: translate(-33.47033205px, 4.75528258px);
  }
  7% {
    transform: translate(-32.92070084px, 4.97260948px);
  }
  8% {
    transform: translate(-32.28831872px, 4.97260948px);
  }
  9% {
    transform: translate(-31.57395614px, 4.75528258px);
  }
  10% {
    transform: translate(-30.77848346px, 4.33012702px);
  }
  11% {
    transform: translate(-29.90286982px, 3.71572413px);
  }
  12% {
    transform: translate(-28.94818203px, 2.93892626px);
  }
  13% {
    transform: translate(-27.91558324px, 2.03368322px);
  }
  14% {
    transform: translate(-26.8063315px, 1.03955845px);
  }
  15% {
    transform: translate(-25.62177826px, 0px);
  }
  16% {
    transform: translate(-24.36336673px, -1.03955845px);
  }
  17% {
    transform: translate(-23.03263008px, -2.03368322px);
  }
  18% {
    transform: translate(-21.63118961px, -2.93892626px);
  }
  19% {
    transform: translate(-20.16075275px, -3.71572413px);
  }
  20% {
    transform: translate(-18.62311102px, -4.33012702px);
  }
  21% {
    transform: translate(-17.02013778px, -4.75528258px);
  }
  22% {
    transform: translate(-15.35378602px, -4.97260948px);
  }
  23% {
    transform: translate(-13.62608593px, -4.97260948px);
  }
  24% {
    transform: translate(-11.83914245px, -4.75528258px);
  }
  25% {
    transform: translate(-9.99513268px, -4.33012702px);
  }
  26% {
    transform: translate(-8.09630327px, -3.71572413px);
  }
  27% {
    transform: translate(-6.14496766px, -2.93892626px);
  }
  28% {
    transform: translate(-4.14350324px, -2.03368322px);
  }
  29% {
    transform: translate(-2.0943485px, -1.03955845px);
  }
  30% {
    transform: translate(0px, 0px);
  }
  31% {
    transform: translate(2.1369906px, 1.03955845px);
  }
  32% {
    transform: translate(4.31401972px, 2.03368322px);
  }
  33% {
    transform: translate(6.52843498px, 2.93892626px);
  }
  34% {
    transform: translate(8.77753846px, 3.71572413px);
  }
  35% {
    transform: translate(11.05858997px, 4.33012702px);
  }
  36% {
    transform: translate(13.36881039px, 4.75528258px);
  }
  37% {
    transform: translate(15.70538509px, 4.97260948px);
  }
  38% {
    transform: translate(18.06546731px, 4.97260948px);
  }
  39% {
    transform: translate(20.44618164px, 4.75528258px);
  }
  40% {
    transform: translate(22.84462756px, 4.33012702px);
  }
  41% {
    transform: translate(25.25788293px, 3.71572413px);
  }
  42% {
    transform: translate(27.68300757px, 2.93892626px);
  }
  43% {
    transform: translate(30.11704684px, 2.03368322px);
  }
  44% {
    transform: translate(32.55703523px, 1.03955845px);
  }
  45% {
    transform: translate(35px, 0px);
  }
  46% {
    transform: translate(37.44296477px, -1.03955845px);
  }
  47% {
    transform: translate(39.88295316px, -2.03368322px);
  }
  48% {
    transform: translate(42.31699243px, -2.93892626px);
  }
  49% {
    transform: translate(44.74211707px, -3.71572413px);
  }
  50% {
    transform: translate(47.15537244px, -4.33012702px);
  }
  51% {
    transform: translate(49.55381836px, -4.75528258px);
  }
  52% {
    transform: translate(51.93453269px, -4.97260948px);
  }
  53% {
    transform: translate(54.29461491px, -4.97260948px);
  }
  54% {
    transform: translate(56.63118961px, -4.75528258px);
  }
  55% {
    transform: translate(58.94141003px, -4.33012702px);
  }
  56% {
    transform: translate(61.22246154px, -3.71572413px);
  }
  57% {
    transform: translate(63.47156502px, -2.93892626px);
  }
  58% {
    transform: translate(65.68598028px, -2.03368322px);
  }
  59% {
    transform: translate(67.8630094px, -1.03955845px);
  }
  60% {
    transform: translate(70px, 0px);
  }
  61% {
    transform: translate(72.0943485px, 1.03955845px);
  }
  62% {
    transform: translate(74.14350324px, 2.03368322px);
  }
  63% {
    transform: translate(76.14496766px, 2.93892626px);
  }
  64% {
    transform: translate(78.09630327px, 3.71572413px);
  }
  65% {
    transform: translate(79.99513268px, 4.33012702px);
  }
  66% {
    transform: translate(81.83914245px, 4.75528258px);
  }
  67% {
    transform: translate(83.62608593px, 4.97260948px);
  }
  68% {
    transform: translate(85.35378602px, 4.97260948px);
  }
  69% {
    transform: translate(87.02013778px, 4.75528258px);
  }
  70% {
    transform: translate(88.62311102px, 4.33012702px);
  }
  71% {
    transform: translate(90.16075275px, 3.71572413px);
  }
  72% {
    transform: translate(91.63118961px, 2.93892626px);
  }
  73% {
    transform: translate(93.03263008px, 2.03368322px);
  }
  74% {
    transform: translate(94.36336673px, 1.03955845px);
  }
  75% {
    transform: translate(95.62177826px, 0px);
  }
  76% {
    transform: translate(96.8063315px, -1.03955845px);
  }
  77% {
    transform: translate(97.91558324px, -2.03368322px);
  }
  78% {
    transform: translate(98.94818203px, -2.93892626px);
  }
  79% {
    transform: translate(99.90286982px, -3.71572413px);
  }
  80% {
    transform: translate(100.77848346px, -4.33012702px);
  }
  81% {
    transform: translate(101.57395614px, -4.75528258px);
  }
  82% {
    transform: translate(102.28831872px, -4.97260948px);
  }
  83% {
    transform: translate(102.92070084px, -4.97260948px);
  }
  84% {
    transform: translate(103.47033205px, -4.75528258px);
  }
  85% {
    transform: translate(103.93654271px, -4.33012702px);
  }
  86% {
    transform: translate(104.31876481px, -3.71572413px);
  }
  87% {
    transform: translate(104.61653268px, -2.93892626px);
  }
  88% {
    transform: translate(104.82948352px, -2.03368322px);
  }
  89% {
    transform: translate(104.95735789px, -1.03955845px);
  }
  90% {
    transform: translate(105px, 0px);
  }
  91% {
    transform: translate(104.95735789px, 1.03955845px);
  }
  92% {
    transform: translate(104.82948352px, 2.03368322px);
  }
  93% {
    transform: translate(104.61653268px, 2.93892626px);
  }
  94% {
    transform: translate(104.31876481px, 3.71572413px);
  }
  95% {
    transform: translate(103.93654271px, 4.33012702px);
  }
  96% {
    transform: translate(103.47033205px, 4.75528258px);
  }
  97% {
    transform: translate(102.92070084px, 4.97260948px);
  }
  98% {
    transform: translate(102.28831872px, 4.97260948px);
  }
  99% {
    transform: translate(101.57395614px, 4.75528258px);
  }
}
.wait {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 100px auto;
  box-shadow: 35px 0px 1px rgba(0, 0, 0, 0.5), 24.74873734px 24.74873734px 1px rgba(0, 0, 0, 0.5), 0px 35px 1px rgba(0, 0, 0, 0.5), -24.74873734px 24.74873734px 1px rgba(0, 0, 0, 0.5), -35px 0px 1px rgba(0, 0, 0, 0.5), -24.74873734px -24.74873734px 1px rgba(0, 0, 0, 0.5), 0px -35px 1px rgba(0, 0, 0, 0.5), 24.74873734px -24.74873734px 1px rgba(0, 0, 0, 0.5);
  -webkit-animation: wait 2s linear infinite;
}
@-webkit-keyframes wait {
  0% {
    box-shadow: 35px 0px 1px #000000, 24.74873734px 24.74873734px 1px rgba(0, 0, 0, 0.5), 0px 35px 1px rgba(0, 0, 0, 0.5), -24.74873734px 24.74873734px 1px rgba(0, 0, 0, 0.5), -35px 0px 1px rgba(0, 0, 0, 0.5), -24.74873734px -24.74873734px 1px rgba(0, 0, 0, 0.5), 0px -35px 1px rgba(0, 0, 0, 0.5), 24.74873734px -24.74873734px 1px rgba(0, 0, 0, 0.5);
  }
  12.5% {
    box-shadow: 35px 0px 1px rgba(0, 0, 0, 0.5), 24.74873734px 24.74873734px 1px #000000, 0px 35px 1px rgba(0, 0, 0, 0.5), -24.74873734px 24.74873734px 1px rgba(0, 0, 0, 0.5), -35px 0px 1px rgba(0, 0, 0, 0.5), -24.74873734px -24.74873734px 1px rgba(0, 0, 0, 0.5), 0px -35px 1px rgba(0, 0, 0, 0.5), 24.74873734px -24.74873734px 1px rgba(0, 0, 0, 0.5);
  }
  25% {
    box-shadow: 35px 0px 1px rgba(0, 0, 0, 0.5), 24.74873734px 24.74873734px 1px rgba(0, 0, 0, 0.5), 0px 35px 1px #000000, -24.74873734px 24.74873734px 1px rgba(0, 0, 0, 0.5), -35px 0px 1px rgba(0, 0, 0, 0.5), -24.74873734px -24.74873734px 1px rgba(0, 0, 0, 0.5), 0px -35px 1px rgba(0, 0, 0, 0.5), 24.74873734px -24.74873734px 1px rgba(0, 0, 0, 0.5);
  }
  37.5% {
    box-shadow: 35px 0px 1px rgba(0, 0, 0, 0.5), 24.74873734px 24.74873734px 1px rgba(0, 0, 0, 0.5), 0px 35px 1px rgba(0, 0, 0, 0.5), -24.74873734px 24.74873734px 1px #000000, -35px 0px 1px rgba(0, 0, 0, 0.5), -24.74873734px -24.74873734px 1px rgba(0, 0, 0, 0.5), 0px -35px 1px rgba(0, 0, 0, 0.5), 24.74873734px -24.74873734px 1px rgba(0, 0, 0, 0.5);
  }
  50% {
    box-shadow: 35px 0px 1px rgba(0, 0, 0, 0.5), 24.74873734px 24.74873734px 1px rgba(0, 0, 0, 0.5), 0px 35px 1px rgba(0, 0, 0, 0.5), -24.74873734px 24.74873734px 1px rgba(0, 0, 0, 0.5), -35px 0px 1px #000000, -24.74873734px -24.74873734px 1px rgba(0, 0, 0, 0.5), 0px -35px 1px rgba(0, 0, 0, 0.5), 24.74873734px -24.74873734px 1px rgba(0, 0, 0, 0.5);
  }
  62.5% {
    box-shadow: 35px 0px 1px rgba(0, 0, 0, 0.5), 24.74873734px 24.74873734px 1px rgba(0, 0, 0, 0.5), 0px 35px 1px rgba(0, 0, 0, 0.5), -24.74873734px 24.74873734px 1px rgba(0, 0, 0, 0.5), -35px 0px 1px rgba(0, 0, 0, 0.5), -24.74873734px -24.74873734px 1px #000000, 0px -35px 1px rgba(0, 0, 0, 0.5), 24.74873734px -24.74873734px 1px rgba(0, 0, 0, 0.5);
  }
  75% {
    box-shadow: 35px 0px 1px rgba(0, 0, 0, 0.5), 24.74873734px 24.74873734px 1px rgba(0, 0, 0, 0.5), 0px 35px 1px rgba(0, 0, 0, 0.5), -24.74873734px 24.74873734px 1px rgba(0, 0, 0, 0.5), -35px 0px 1px rgba(0, 0, 0, 0.5), -24.74873734px -24.74873734px 1px rgba(0, 0, 0, 0.5), 0px -35px 1px #000000, 24.74873734px -24.74873734px 1px rgba(0, 0, 0, 0.5);
  }
  87.5% {
    box-shadow: 35px 0px 1px rgba(0, 0, 0, 0.5), 24.74873734px 24.74873734px 1px rgba(0, 0, 0, 0.5), 0px 35px 1px rgba(0, 0, 0, 0.5), -24.74873734px 24.74873734px 1px rgba(0, 0, 0, 0.5), -35px 0px 1px rgba(0, 0, 0, 0.5), -24.74873734px -24.74873734px 1px rgba(0, 0, 0, 0.5), 0px -35px 1px rgba(0, 0, 0, 0.5), 24.74873734px -24.74873734px 1px #000000;
  }
  100% {
    box-shadow: 35px 0px 1px rgba(0, 0, 0, 0.5), 24.74873734px 24.74873734px 1px rgba(0, 0, 0, 0.5), 0px 35px 1px rgba(0, 0, 0, 0.5), -24.74873734px 24.74873734px 1px rgba(0, 0, 0, 0.5), -35px 0px 1px rgba(0, 0, 0, 0.5), -24.74873734px -24.74873734px 1px rgba(0, 0, 0, 0.5), 0px -35px 1px rgba(0, 0, 0, 0.5), 24.74873734px -24.74873734px 1px rgba(0, 0, 0, 0.5);
  }
}
