@font-face {
  font-family: "iconfont";
  src: url('../font/iconfont.eot');
  /* IE9*/
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/iconfont.woff') format('woff'), /* chrome, firefox */ url('../font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../font/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
*[data-type=caidan] {
  font-family: iconfont;
}
*[data-type=caidan]:before {
  content: "\e600";
}
*[data-type=caidan][icon-pos=left]:before {
  content: "\e600";
}
*[data-type=caidan][icon-pos=top]:before {
  content: "\e600";
  display: block;
}
*[data-type=caidan][icon-pos=right]:before {
  content: "";
}
*[data-type=caidan][icon-pos=right]:after {
  content: "\e600";
}
*[data-type=caidan][icon-pos=bottom]:before {
  content: "";
}
*[data-type=caidan][icon-pos=bottom]:after {
  content: "\e600";
  display: block;
}
*[data-type=weibo] {
  font-family: iconfont;
}
*[data-type=weibo]:before {
  content: "\e601";
}
*[data-type=weibo][icon-pos=left]:before {
  content: "\e601";
}
*[data-type=weibo][icon-pos=top]:before {
  content: "\e601";
  display: block;
}
*[data-type=weibo][icon-pos=right]:before {
  content: "";
}
*[data-type=weibo][icon-pos=right]:after {
  content: "\e601";
}
*[data-type=weibo][icon-pos=bottom]:before {
  content: "";
}
*[data-type=weibo][icon-pos=bottom]:after {
  content: "\e601";
  display: block;
}
*[data-type=youxiang] {
  font-family: iconfont;
}
*[data-type=youxiang]:before {
  content: "\e602";
}
*[data-type=youxiang][icon-pos=left]:before {
  content: "\e602";
}
*[data-type=youxiang][icon-pos=top]:before {
  content: "\e602";
  display: block;
}
*[data-type=youxiang][icon-pos=right]:before {
  content: "";
}
*[data-type=youxiang][icon-pos=right]:after {
  content: "\e602";
}
*[data-type=youxiang][icon-pos=bottom]:before {
  content: "";
}
*[data-type=youxiang][icon-pos=bottom]:after {
  content: "\e602";
  display: block;
}
*[data-type=qq] {
  font-family: iconfont;
}
*[data-type=qq]:before {
  content: "\e603";
}
*[data-type=qq][icon-pos=left]:before {
  content: "\e603";
}
*[data-type=qq][icon-pos=top]:before {
  content: "\e603";
  display: block;
}
*[data-type=qq][icon-pos=right]:before {
  content: "";
}
*[data-type=qq][icon-pos=right]:after {
  content: "\e603";
}
*[data-type=qq][icon-pos=bottom]:before {
  content: "";
}
*[data-type=qq][icon-pos=bottom]:after {
  content: "\e603";
  display: block;
}
*[data-type=weixin] {
  font-family: iconfont;
}
*[data-type=weixin]:before {
  content: "\e604";
}
*[data-type=weixin][icon-pos=left]:before {
  content: "\e604";
}
*[data-type=weixin][icon-pos=top]:before {
  content: "\e604";
  display: block;
}
*[data-type=weixin][icon-pos=right]:before {
  content: "";
}
*[data-type=weixin][icon-pos=right]:after {
  content: "\e604";
}
*[data-type=weixin][icon-pos=bottom]:before {
  content: "";
}
*[data-type=weixin][icon-pos=bottom]:after {
  content: "\e604";
  display: block;
}
*[data-type=chilun] {
  font-family: iconfont;
}
*[data-type=chilun]:before {
  content: "\e607";
}
*[data-type=chilun][icon-pos=left]:before {
  content: "\e607";
}
*[data-type=chilun][icon-pos=top]:before {
  content: "\e607";
  display: block;
}
*[data-type=chilun][icon-pos=right]:before {
  content: "";
}
*[data-type=chilun][icon-pos=right]:after {
  content: "\e607";
}
*[data-type=chilun][icon-pos=bottom]:before {
  content: "";
}
*[data-type=chilun][icon-pos=bottom]:after {
  content: "\e607";
  display: block;
}
