body,p,input,textarea,ul,li,ol,dl,dt,dd,form,h1,h2,h3,h4,h5,h6{margin:0;padding:0;list-style:none;font-family:""}
b,em,strong{font-weight:normal;font-style:normal;}
img{border:0;}
a{text-decoration:none;cursor:pointer;}
select{border:none;background:#f7f7f7;color:#808080;}
